.speech {
    color: black;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.song {
    color: black;
    font-size: 16px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.direction {
    color: black;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgreen;
}
.name {
    color: black;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.direction:hover{
    background-color: green;
    color: rgb(255,255,255);
}
.BUT{
    color:blue;
}
.CAPT{
    color:red;
}
.name:hover{
    text-shadow: 2px 3px 5px;
    color: brown;
    border: solid 3px;
}
table{
    border:solid 4px rgb(0, 102, 128);
    border-collapse: collapse;
    padding: 15px;   
}
th{
    margin:10px;
    border: solid 1px;
    padding:8px;
    text-align: center;   
}
td{
    margin: 10px;
    border: solid 1px;
    padding: 8px;
    text-align: center;  
}
tr:nth-child(even){
    background-color: gray;
}

ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul.navbar-horizontal li {
    float:left; /* line up horizontally */
    color:palevioletred;
    background-color:lavender
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px
    /* on hover change the link color*/
    }